<!doctype html>
<html lang="en">
  <%- include('partials/head.ejs')%>
    <body>
      <%- include('partials/header.ejs')%>
      <div class="w-25 position-absolute top-50 start-50 translate-middle text-center">
        <h1>Edit author</h1>
        <form action="/author/edit", method="POST">
          <input type="hidden" value="<%= author.id %>" name="authorId">
          <input class="form-control mb-1" placeholder="Name" type="text" name="name" value="<%= author.name %>">
          <input class="btn btn-secondary w-100" type="submit" value="Add">
        </form>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
